/* Body center */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container (IMPORTANT) */
.container {
    display: flex;
    flex-direction: column;   
    align-items: center;
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Title */
.title {
    margin-bottom: 10px;
}

/* Inputs */
.input-field {
    width: 250px;
    padding: 8px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button */
.login-btn {
    width: 270px;
    margin-top: 15px;
    padding: 10px;
    background-color: #2d6cdf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background-color: #1b4fb8;
}